@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

.gameCard-component {
  font-family: 'Outfit', sans-serif;
  border: 5px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 5px;
}

.gameCard-img {
  height: 100px;
  width: 200px;
  margin: 5px;
}
